* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family:"Montserrat";
}

/*----------------NAV-BAR--------------*/
.nav-bar {
    position: sticky;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: "Montserrat";
    padding: 0 5%;
    height: 100px;
    background-color: #242526;
}

.logo {
    float: left;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.logo img{
    margin-right: 30px;
    border: 1px solid #fff;
}

.nav-items {
    float: right;
    padding: 0;
    margin: 0;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    overflow: hidden; 
}
.nav-item {
    list-style: none;
}
.nav_item-link {
    display: block;
    text-transform: uppercase;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.nav_item-link:hover {
    border-bottom: 4px solid #675bf9;
}

.vertical-menu {
    position: absolute;
    display: none;
    list-style: none; 
    width: 150px;
    background-color: #242526;
    padding: 5px 0;
}
.vertical-item{
    margin: 5px 0;
}
.nav-item:hover .vertical-menu {
    display: block;
}
.vertical-item:hover {
    border-bottom: 4px solid #675bf9;
}
.sub-item-link {
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
#toggle {
    position: absolute;
    top: -100px;
}

.icon-bars {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}



/*----------------HEADER--------------*/



header{
    width: 100%;
    height: 800px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%), 
                url("Foto4.jpg") no-repeat center center;
    background-size: cover;
    background-attachment:fixed ;
    box-shadow: 0 0 9px 0 #242526;
}

.header-texts{
    display: flex;
    height: 430px;
    width: 100%;
    padding-top: 600px;
    padding-bottom: 30px;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.header-texts h1{
    font-size: 50px;
}
.header-texts h2 {
    font-size: 30px;
    font-weight: 600;
}
.header-texts h3 {
    font-size: 30px;
    font-weight: 600;
}


/*----------------PORTFOLIO--------------*/
.container-port{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;

    view-timeline-name: --anim;
    view-timeline-axis: block;

    animation-timeline: --anim;
    animation-name: show;

    animation-range: entry 25% cover 30% ;
    animation-fill-mode: both;
}

.portfolio-tittle{
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 40px;
    border-bottom: 5px solid #675bf9;
}
.galeria-port{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.img-port{
    width: calc(33.333% - 20px); /* Calcula el ancho para 3 columnas, restando los márgenes */
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    border: 3px solid #242526;
    color: #242526;
}
.img-port img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: 3px solid #242526;
    box-shadow: 0 0 9px 0 #242526;
}

.img-port a{
    text-decoration: none;
    list-style: none;
    color: #242526;
}
.img-port a:visited{
    text-decoration: none;
    color: #242526;
}

.img-port h3{
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 85%;
    bottom:0;
    transform: scale(0);
    background: #685bf99f;
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria p{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
.img-port:hover h3{
    color: #675bf9;
    border-bottom: 4px solid #675bf9
}

.img-port:hover .hover-galeria{
    transform: scale(1);
}




/*--------------PROFILE SECTION------------*/
.profile-container{
    background-color: #242526;
    width: 100%;
    height: 100%;
    padding: 5px;
    box-shadow: 0 0 9px 0 #242526;

    view-timeline-name: --anim;
    view-timeline-axis: block;

    animation-timeline: --anim;
    animation-name: show;

    animation-range: entry 25% cover 30% ;
    animation-fill-mode: both;
}
.profile-tittle-container{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.profile_wrapper{
    display: flex;
    max-width: 1400px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
    margin-bottom: 20px;
}

.profile_img-container{
    overflow: hidden;
    object-fit: cover;
    max-height: 900px;
    border-radius: 25px;
    min-width: 300px;
    box-shadow: 0 0 9px 0 #242526;
}

.profile_img{
    max-width: 100%;
    width: 700px;
}
.profile-tittle{
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 10px;
    color: #fff;
    border-bottom: 5px solid #675bf9;
}

.profile_data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile_data{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.cv_input-container{
    margin: 20px;
}
.cv_input-container input[type="submit"]{
    padding: 12px;
    font-weight: bold;
    font-size: 20px;
    min-width: 300px;
    background-color: #242526;
    color: #fff;
    font-family: "Montserrat";
    cursor: pointer;
}
.cv_input-container input[type="submit"]:hover{
    background-color: #675bf9;
}

.skills-container{
    display: flex;
    max-width: 1400px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
    margin-bottom: 20px;
}
.skills-grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columnas */
    grid-template-rows: repeat(3, auto); /* 3 filas */
    gap: 5px; /* Espacio entre los elementos */
}

.skill-logo img {
    width: 100%;
    height: 60px; /* Altura fija para uniformidad */
    object-fit: contain; /* Ajuste proporcional */
    display: flex;
}
.skills-tittle{
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
}
.skill-logo h3{
    text-align: center;
    font-size: 10;
    margin: 10px;
}
.profile_data p{
    font-size: 25px;
    text-align: justify;
    line-height: 40px;
}

/*----------CONTACT ME-------------*/

.contact-container{
    width: 100%;
    height: 100%;
    padding: 5px;

    view-timeline-name: --anim;
    view-timeline-axis: block;

    animation-timeline: --anim;
    animation-name: show;

    animation-range: entry 25% cover 30% ;
    animation-fill-mode: both;
}
.form-tittle-container{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    border-bottom: 5px solid #675bf9;
}
.form_tittle{
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 40px;
    font-weight: bold;
}

.contactos-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    padding: 30px;
    max-width: 600px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 30px;
    border: 3px solid #242526;
}

.form_imput-container{
    margin: 10px;
}

.form_imput-container :is(input,textarea){
    width: 100%;
    padding:9px;
    font-size: 16px;
    margin: 4px;
    border: none;
    box-shadow: 0px 0px 9px #0003;
    background-color: #fffd;
}
.form_imput-container textarea{
    resize: none;
    height: 150px;
    font-family: "Montserrat";
}
.form_imput-container input[type="submit"]{
    padding: 12px;
    background-color: #242526;
    color: #fff;
    font-family: "Montserrat";
    cursor: pointer;
}
.form_imput-container input[type="submit"]:hover{
    background-color: #675bf9;
}

.redes-tittle{
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}

.contact-info{
    padding: 20px;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    border: 3px solid #242526;
}

.redes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.red-social{
    max-width: 100px;
    margin: 10px 5px;
    cursor: pointer;
}

.red-social img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.redes-img{
    margin: auto;
    overflow: hidden;
    max-width: 500px;
    border-radius: 25px;
    box-shadow: 0 0 9px 0 #242526;
}
.redes-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

/*--------FOOTER---------*/

.footer-container{
    padding: 60px;
    text-align: center;
    background-color: #242526;
    color: #fffd;
    font-size: 19px;
    margin-top: 40px;
}

@media (max-width: 1200px) {
    .logo {
        float: none;
        width: auto;
        justify-content: center;
    }
    .nav-items {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0,0,0,0.8);
        overflow: hidden;
        transition: all .5s ease-in-out;
        
    }   

    .nav-bar :checked~ .nav-items {
        bottom: 0;
    }
    .icon-bars {
        display: block;
    }

    .vertical-menu{
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: transparent; 
    }

    .galeria-port{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 6 columnas */
        grid-template-rows: repeat(3, auto);
    }
    .img-port{
        width: 100%;
    }
    .hover-galeria{
        height: 90%;
    }

    .profile-container{
        flex-direction: column;
    }
    .profile_wrapper{
        flex-direction: column-reverse;
    }
    .profile_img-container img{
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 0 9px 0 #242526;
    }
    .profile_img-container{
        box-shadow: none;
        padding: 15px;
    }
    .profile_data p{
        font-size: 20px;
    }

    .skills-container{
        flex-direction: column;
    }

    .skills-grid-container{
        grid-template-columns: repeat(3, 1fr); /* 6 columnas */
        grid-template-rows: repeat(6, auto);
    }

    .contactos-container{
        flex-direction: column;
    }
}

@keyframes show{
    from{
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}