* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family:"Montserrat";
}

/*----------------NAV-BAR--------------*/
.nav-bar {
    position: sticky;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: "Montserrat";
    padding: 0 5%;
    height: 100px;
    background-color: #242526;
}

.logo {
    float: left;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.logo img{
    margin-right: 30px;
    border: 1px solid #fff;
}

.nav-items {
    float: right;
    padding: 0;
    margin: 0;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    overflow: hidden; 
}
.nav-item {
    list-style: none;
}
.nav_item-link {
    display: block;
    text-transform: uppercase;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.nav_item-link:hover {
    border-bottom: 4px solid #675bf9;
}

.vertical-menu {
    position: absolute;
    display: none;
    list-style: none; 
    width: 150px;
    background-color: #242526;
    padding: 5px 0;
}
.vertical-item{
    margin: 5px 0;
}
.nav-item:hover .vertical-menu {
    display: block;
}
.vertical-item:hover {
    border-bottom: 4px solid #675bf9;
}
.sub-item-link {
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
#toggle {
    position: absolute;
    top: -100px;
}

.icon-bars {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

/*-------------galeria-------*/
.animations-tittle{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    border-bottom: 5px solid #675bf9;
}
.animations-tittle h2{
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 40px;
    font-weight: bold;
}

.galeria-animations{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    grid-auto-flow: dense;
    width: 95%;
    margin: auto;
    gap: 40px;
    padding: 40px 0;
    overflow: hidden;
}
.galeria-text-animations{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-auto-flow: dense;
    width: 95%;
    margin: auto;
    gap: 40px;
    padding: 40px 0;
    overflow: hidden;
}
/*.animation-item video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 6px rgba(0,0,0,0.8);
    transition: transform 0.2s;
}*/
.animation-item iframe{
    width: 100%;
    height: 100%;
    min-height: 480px;
    box-shadow: 0 0 6px rgba(0,0,0,0.8);
}

.galeria-animations :first-child{
    grid-column:span 3;
    grid-row: span 1;
}
.galeria-animations :nth-child(2){
    grid-column:span 3;
    grid-row: span 1;
}
.galeria-animations :nth-child(3){
    grid-column: span 2;
    grid-row: span 1;
}
.galeria-animations :nth-child(4){
    grid-column: span 3;
    grid-row: span 1;
}

.models-link{
    display: block;
    position: relative;
    overflow: hidden;
}

/*----------FOOTER------------*/

.footer-container{
    padding: 60px;
    text-align: center;
    background-color: #242526;
    color: #fffd;
    font-size: 19px;
    margin-top: 40px;
}
@media (max-width: 1200px) {
    .logo {
        float: none;
        width: auto;
        justify-content: center;
    }
    .nav-items {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0,0,0,0.8);
        overflow: hidden;
        transition: all .5s ease-in-out;
        
    }   

    .nav-bar :checked~ .nav-items {
        bottom: 0;
    }
    .icon-bars {
        display: block;
    }

    .vertical-menu{
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: transparent; 
    }


    .galeria-animations{
        grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
        gap: 20px;
    }

    .galeria-animations :nth-child(2){
        grid-column: span 3;
        grid-row: span 1;
    }

}